# Telegram Bot
BOT_TOKEN=your_telegram_bot_token_here

# Google Sheets
GOOGLE_SHEETS_ID=1aVzzUJSh9BPBTIW2wjYn_2Gvsa-8bpozQbSTXmBJE3k
GOOGLE_SHEETS_RANGE=Sheet1!A:J
GOOGLE_CREDENTIALS_PATH=./src/services/credentials/service-account-key.json

# Database
DATABASE_URL="file:./dev.db"

# App
NODE_ENV=development
LOG_LEVEL=info
